<header class="header-container">
    <div class="content-left">
        <div class="sidebar-close">
            <img src="./assets/close.svg" alt="" class="img" (click)="toggleSidebar()" >
        </div>
    </div>  
    <div class="content-right">
        <div class="options-header">
            <div class="option-notification">
                <img src="./assets/bxs-bell.svg" alt="">
            </div>
            <div class="option-config">
                <img src="./assets/settings.svg" alt="">
            </div>
            <div class="option-help">
                <div class="help-img">
                    <img src="./assets/interrogatorio.svg" alt="">
                    <span>Ayuda</span>
                </div>
            </div>
        </div>
        <div class="corte"></div>
        <div class="info-user">
            <div class="user-text">
                <h2>Christian Supo</h2>
                <span>Administrador</span>
            </div>
            <div class="user-img">
                <div class="image-user">
                    <span>AB</span>  <!--aqui la imagen -->
                </div>
            </div>
        </div>

        <div class="options-menu">
            <div class="icon-menu">
                <img src="./assets/menu-puntos.svg" alt="">
            </div>
        </div>
    </div>
</header>